/*------------------------------  header */
.header {
    background: #525252;
}

.logo {
    background: url(../assets/images/logga.png);
}

.list-inline a {
    color: #ec7f22;
}

.col {
    padding-top: 10px;
}

.no-gutters {
    margin-bottom: 10%;
}

/*------------------------------ sections */
#section1 {
    display: none;
}

#section2 {
    display: none;
}

#section3 {
    display: none;
    padding-top: 10px;
}

#section4 {
    display: none;
    padding-top: 10px;
}

#section5 {
    display: none;
    padding-top: 10px;
}

/*----------------------------- slider */
.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/*------------------------------ body */

.center {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%; 
  padding-bottom: 10%;
  text-align: center;
}

.center p {
  margin: 0;
}

.no-padding {
    padding-top: 0%;
}

.btn {
    position: relative;
    top: 50%;
    margin-top: 10px;
}

.workout {
    border: 2px;
    border-color: #525252;
    padding: 4px;
}

.one {
    background: #fafafa;
    display: none;
}

.two {
    background: #ec7f22;
    display: none;
}

.result {
    font-size: 20px;
    color: darkblue;
}


/*------------------------------ footer*/
footer {
    background: #525252;
    color: #fafafa;
    margin: 0;
    min-height: 120px;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610
}

#footer-details {
    padding: 20px;
    margin-top: 10%;
}

.input {
  display: block;
  width: 200px;
  margin: auto;
}

.output {
  text-align: center;
  display: block;
  padding-top: 15px;
}

